<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vezbanje_001.Properties.Settings.StudentiConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Nemanja\Desktop\Studenti.accdb"
            providerName="System.Data.OleDb" />
        <add name="vezbanje_001.Properties.Settings.ProdavnicaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Nemanja\Desktop\Prodavnica.accdb"
            providerName="System.Data.OleDb" />
        <add name="TVP_Drugi_Projekat.Properties.Settings.StudentiConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Nemanja\Desktop\Studenti.accdb"
            providerName="System.Data.OleDb" />
        <add name="TVP_Drugi_Projekat.Properties.Settings.ProdavnicaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Nemanja\Desktop\Prodavnica.accdb"
            providerName="System.Data.OleDb" />
        <add name="TVP_Drugi_Projekat.Properties.Settings.ProdavnicaConnectionString1"
            connectionString="Data Source=DESKTOP-M0UKO72;Initial Catalog=Prodavnica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TVP_Drugi_Projekat.Properties.Settings.ZavrsniConnectionString"
            connectionString="Data Source=DESKTOP-M0UKO72;Initial Catalog=Zavrsni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>